{% extends "layout.html" %}

{% block head %}
<title>WIT 主页</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock  %}

{% block functionlist %}
<div id="functionlist">
<ul>
    <li>
     <ul><h3>测试准备</h3>
         <li> <a href="#">自动生成测试程序</a> </li>
         <li> <a href="{{ url_for('graph_data') }}">手动生成测试程序</a> </li>
         <li> <a href="{{ url_for('prog') }}">导出测试程序</a> </li>
     </ul>
     </li>

    <li>
     <ul><h3>测试开始</h3>
         <li> <a href="#">电缆状态确认</a> </li>
         <li> <a href="#">执行</a> </li>
         <li> <a href="#">排故</a></li>
     </ul>
    </li>

    <li>
     <ul><h3>报告</h3>
         <li> <a href="#">分章节报告</a> </li>
         <li> <a href="#">问题报告</a> </li>
         <li> <a href="#">总报告</a></li>
     </ul>
    </li>

    <li>
    <ul><h3>看板</h3>
    <li><a href="{{ url_for('piebar') }}">总体导通率</a></li>
    <li><a href="{{ url_for('linebar') }}">故障率分布</a></li>
    <li><a href="{{ url_for('highs') }}">未通过PIN清单</a> </li>
    </ul>
    </li>
</ul>

</div>
{% endblock %}