{% extends "layout.html" %}
{% block head %}
    <title>故障率分布</title>
    <script src="{{ url_for('static', filename='echarts/echarts.js') }}"> </script>
{% endblock %}

{% block display %}
<p>
 <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '故障率分布'
            },
            tooltip: {},
            legend: {
                data:[]
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: [{
                name: '',
                type: 'bar',
                data: []
            }]
        };

        option.legend.data = ['HIGH number']
        //option.xAxis.data = {{ data['name'] }}
        option.xAxis.data = []
        option.series[0].name = 'HIGH number'
        //option.series[0].data = [5, 20, 36, 10, 10, 20]
        option.series[0].data = {{ data["NUMBER"] }}

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</p>
<p>开发中......</p>
{{ data['name'] }}
{% endblock %}

